<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CRS_DAT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CRS_DAT.Properties.Settings>
            <setting name="va_ser_bda" serializeAs="String">
                <value />
            </setting>
            <setting name="va_ins_bda" serializeAs="String">
                <value />
            </setting>
            <setting name="va_nom_bda" serializeAs="String">
                <value />
            </setting>
            <setting name="va_ide_usr" serializeAs="String">
                <value />
            </setting>
            <setting name="va_pas_usr" serializeAs="String">
                <value />
            </setting>
            <setting name="va_ide_uni" serializeAs="String">
                <value />
            </setting>
        </CRS_DAT.Properties.Settings>
    </userSettings>
</configuration>