/*◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘
ARCHIVO: inv003_05a_p01.sql
PROCEDIMIENTO: CONSULTA FAMILIA PRODUCTO
	
AUTOR:	CREARSIS(CHL)
FECHA:	08-08-2020 
--◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘*/

/* Verifica si el procedimiento se encuentra creado */
if exists (select * from sysobjects where id = object_id('dbo.inv003_05a_p01') and sysstat & 0xf = 4)
	drop procedure dbo.inv003_05a_p01
GO

CREATE PROCEDURE inv003_05a_p01	@ar_cod_fam		CHAR(06)		
							WITH ENCRYPTION AS
							
--** Inhabilita mensajes numero de filas afectadas
SET NOCOUNT ON

DECLARE 
@msg			nvarchar(200)


IF @@ERROR <> 0
   RETURN
   
BEGIN TRY 
	 
	 SELECT va_cod_fam,va_nom_fam, va_tip_fam, va_est_ado
	  FROM	inv003 
	 WHERE (va_cod_fam = @ar_cod_fam)
	
END TRY
BEGIN CATCH
	
	SET @msg = 'Error: ' + ERROR_MESSAGE() + ' (línea ' + CONVERT(NVARCHAR(255), ERROR_LINE() ) + ').'
	RAISERROR(@msg,16,1)
    --Rollback TRAN TR_inv100
	RETURN
END CATCH	   

GO