<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <!--<startup useLegacyV2RuntimeActivationPolicy="true">
      <supportedRuntime version="v4.0"/>
    </startup>
  
    <runtime useLegacyV2RuntimeActivationPolicy="true">
      <generatePublisherEvidence enabled="false"/>
    </runtime>-->


 
</configuration>
